body {
    background-color: beige;
    font-family: 'Klee One', cursive;
}

header {
    font-family: 'League Script', cursive;
    text-align: center;
    font-size: 18px;
    color: #2d3436;
}

.Hcontainer { /* how to shrink the spacing between top and bottom? */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.ColContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 10px;
}

