body {
    background-color: #f5f5db;
    background-image: url("https://www.transparenttextures.com/patterns/lined-paper-2.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    font-family: 'Klee One', cursive;
}

.horizontal-page{
    display: flex;
    flex-direction: row;
    
}

.description-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 10px;
}

